{% extends "base.html" %}

{% block title %} Главня страница {% endblock %}
{% block header %}<p align = "center">Чат</p>{% endblock %}
{% block href %}{% endblock %}
{% block content %} 
    <form action = "/create-room/" method = "GET">
    <input type = "submit" value = "Создать свою комнату">
    <p>Список chat-room</p>
	<table border = "1">
		<tr><th>Название комнаты</th><th>Автор</th><th>Описание</th></tr>
		{% for room in rooms %}
			<tr><td><a href = "{% url Chat.views.chat_room_details room.id %}">{{ room.name }}</td><td>{{ room.author_name }}</td><td>{{ room.notes }}</td></tr>
		{% endfor %}
		<tr></tr>
	</table>
{% endblock %}
